<template>
  <div class="<%= data.lowername %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: "<%= data.name %>",
  props: {
    msg: String
  }
}
</script>

<style scoped>
    .<%= data.lowername %>{
        background: red;
    }
</style>
